@import "Styles/_colors.scss";

.HomeHeader {
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  background: url("../../Assets/unifi-bg.png") top right;
  background-repeat: no-repeat;
  background-size: 40%;

  > div {
    width: 50%;
  }

  &__left {
    &__title {
      font-size: 1.5rem;
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    &__body {
      font-weight: 300;
      text-align: justify;
    }

    &__more-info {
      margin-top: 2rem;
    }
  }

  &__right {
  }
}
